images:
  mta:
    repository: ghcr.io/tweedegolf/remails/mta
    pullPolicy: Always
  management:
    repository: ghcr.io/tweedegolf/remails/management
    pullPolicy: Always
  retry:
    repository: ghcr.io/tweedegolf/remails/retry
    pullPolicy: Always
  migrate_db:
    repository: ghcr.io/tweedegolf/remails/migrate_db
    pullPolicy: Always
  backup_db:
    repository: ghcr.io/tweedegolf/remails/backup_db
    pullPolicy: Always

environment: development

database_url: ""
# Only use this value for development, use a secret for production
session_key: "0HwY07uU2ffGHX2lNZSEQ7NUbIbmXVQ0v0VnJARMCMiuotvcS5/zbpb8QN+BCMA2PudLOBeu9RIF1rAhIGb8cQ=="

rust_log: "remails=debug,tower_http=debug,axum=debug,info"

smtp:
  replicas: 3
  server_name: "smtp.remails.net"
  ehlo_domain: "sending.remails.net"
  rate_limit_max_messages: "120"
  rate_limit_minutes: "1"
  spf_include: "include:spf.remails.net"
  dkim_selector: "remails"
  ports:
    - 465
    - 2525
  # Possible values "staging" and "production".
  # Influences which type of Let's Encrypt certificate should be used
  certificate_type: "production"

  upcloudLoadBalancerPlan: "essentials"

management:
  replicas: 3
  server_name: "remails.net"
  certificate_type: "production"

moneybird:
  api_key: "nothing-to-see-here"
  administration: "457129080952718731"
  webhook_url: https://dump.tweede.golf/dump/moneybird

retry:
  schedule: "*/10 * * * *"

github_oauth:
  client_id: Ov23livRESUJK4twobxj
  client_secret: Secret

backup:
  enabled: true
  s3_url: "https://s3.fr-par.scw.cloud/remails-backup"
  restic_password: "something secret"
  scw_secret_key: "something secret"
  scw_access_key: "something secret"
  schedule: "0 01 * * *"

imagePullSecrets:
  - name: "regcred"
