images:
  mta:
    # tag: set the correct tag here. By default, we use the `appVersion` of the chart
    repository: ghcr.io/tweedegolf/remails/mta
    pullPolicy: Always
  management:
    # tag: set the correct tag here. By default, we use the `appVersion` of the chart
    repository: ghcr.io/tweedegolf/remails/management
    pullPolicy: Always
  retry:
    # tag: set the correct tag here. By default, we use the `appVersion` of the chart
    repository: ghcr.io/tweedegolf/remails/retry
    pullPolicy: Always

database_url: ""
# Only use this value for development, use a secret for production
session_key: "0HwY07uU2ffGHX2lNZSEQ7NUbIbmXVQ0v0VnJARMCMiuotvcS5/zbpb8QN+BCMA2PudLOBeu9RIF1rAhIGb8cQ=="

smtp:
  replicas: 3
  load_balancer_plan: "essentials"
  server_name: "upcloud.tweedegolf-test.nl"
  # Possible values "staging" and "production".
  # Influences which type of Let's Encrypt certificate should be used
  certificate_type: "production"

management:
  replicas: 3
  # possible values are "essentials", "development", "production-small", and TODO
  load_balancer_plan: "essentials"
  server_name: "mgmt.upcloud.tweedegolf-test.nl"
  certificate_bundle_name: "remails-management"
  certificate_bundle_uuid: "0a7a685a-ae71-4e2f-95f2-8538711fb11b"

retry:
  schedule: "*/10 * * * *"

scaleway-certmanager-webhook:
  secret:
    # expires 28-06-2025
    accessKey: SCWW3JYHP6HCRCFY1RR4
    secretKey: 4c498b69-05f4-4723-951e-3ef673719bf8


github_oauth:
  client_id: Ov23livRESUJK4twobxj
  client_secret: Secret

imagePullSecrets:
  - name: "regcred"