Dear {{ name }},

you requested a password reset for your Remails account. Please click <a href="{{ password_reset_link }}">this link</a>
to set your new password. Note that this link is only valid for 15 minutes.
If you have further questions, please contact the support at <a href="mailto:support@remails.com">support@remails.com</a>

Best,
Your Remails Team