apiVersion: v1
kind: Service
metadata:
  name: docs
spec:
  selector:
    app: management
    environment: {{ .Values.environment }}
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: docs
  type: ClusterIP
  