apiVersion: v1
kind: Service
metadata:
  name: management
spec:
  selector:
    app: management
    environment: {{ .Values.environment }}
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: http
  type: ClusterIP
  