{{- define "upcloud-lb" }}
  plan: {{ .Values.smtp.load_balancer_plan | quote }}
  frontends:
  {{- range .Values.smtp.ports }}
    - name: "smtp-{{ . }}"
      port: {{ . }}
      mode: "tcp"
  {{- end }}
  backends:
  {{- range .Values.smtp.ports }}
    - name: "smtp-{{ . }}"
      properties:
        outbound_proxy_protocol: "v2"
  {{- end }}
{{- end}}
apiVersion: v1
kind: Service
metadata:
  name: mta
  labels:
    app: mta
  annotations:
    helm.sh/resource-policy: keep
    service.beta.kubernetes.io/upcloud-load-balancer-config: |
{{ include "upcloud-lb" . | fromYaml | toPrettyJson | indent 6 }}
spec:
  ipFamilyPolicy: PreferDualStack
  selector:
    app: mta
  ports:
  {{- range .Values.smtp.ports }}
    - name: smtp-{{ . }}
      protocol: TCP
      port: {{ . }}
      targetPort: smtp
  {{- end }}
  type: LoadBalancer
  