{{- range $i, $lb := .Values.smtp.scw_loadbalancers }}
apiVersion: v1
kind: Service
metadata:
  name: mta-{{ $lb.zone }}
  labels:
    app: mta
    environment: {{ $.Values.environment }}
    namespace: {{ $.Release.Namespace }}
  annotations:
    service.beta.kubernetes.io/scw-loadbalancer-zone: {{ $lb.zone | quote }}
    service.beta.kubernetes.io/scw-loadbalancer-proxy-protocol-v2: "true"
    service.beta.kubernetes.io/scw-loadbalancer-use-hostname: "true"
    service.beta.kubernetes.io/scw-loadbalancer-ip-ids: {{ $lb.ip_ids | quote }}
    service.beta.kubernetes.io/scw-loadbalancer-type: {{ $.Values.smtp.scw_loadbalancer_type | quote }}
spec:
  selector:
    app: mta
    environment: {{ .Values.environment }}
  ports:
  {{- range $port := $.Values.smtp.ports }}
    - name: smtp-{{ $port }}
      protocol: TCP
      port: {{ $port }}
      targetPort: smtp
  {{- end }}
  type: LoadBalancer
---
{{- end }}