apiVersion: v1
kind: Service
metadata:
  name: mta
  labels:
    app: mta
  annotations:
    helm.sh/resource-policy: keep
    service.beta.kubernetes.io/upcloud-load-balancer-config: |
      {
        "plan": {{ .Values.smtp.load_balancer_plan | quote }},
        "frontends": [{
          "mode": "tcp"
        }],
        "backends": [{
          "name": "smtp",
          "properties": {
            "outbound_proxy_protocol": "v2",
          }
        }]
      }
spec:
  ipFamilyPolicy: PreferDualStack
  selector:
    app: mta
  ports:
    - name: smtp
      protocol: TCP
      port: 465
      targetPort: smtp
  type: LoadBalancer
  