apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    app: redis
    environment: {{ .Values.environment }}
  ports:
    - port: 6379
      name: redis
      targetPort: redis