apiVersion: v1
kind: Secret
metadata:
  name: secrets
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-1"
stringData:
  database_url: {{ .Values.database_url | quote }}
  session_key: {{ .Values.session_key | quote }}
  github_client_secret: {{ .Values.github_oauth.client_secret | quote }}
  moneybird_api_key: {{ .Values.moneybird.api_key | quote }}
  {{- if .Values.backup.enabled }}
  restic_password: {{ .Values.backup.restic_password | quote }}
  db_backup_scw_secret_key: {{ .Values.backup.scw_secret_key | quote }}
  db_backup_scw_access_key: {{ .Values.backup.scw_access_key | quote }}
  {{- end }}