name: Frontend Checks

on:
  pull_request:
    paths: ["frontend/**"]
  push:
    branches: ["main"]
    paths: ["frontend/**"]

permissions:
  contents: read

jobs:
  frontend:
    name: Check and build frontend
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: frontend

      - name: Lint
        run: npm run lint
        working-directory: frontend

      - name: Test
        run: npm run test
        working-directory: frontend

      - name: Build
        run: npm run build
        working-directory: frontend

      - name: Upload frontend asset folder
        uses: actions/upload-artifact@v4
        with:
          name: frontend
          path: frontend/dist
