name: Backend Checks

on:
  pull_request:
    paths: ["src/**"]
  push:
    branches: ["main"]
    paths: ["src/**"]

permissions:
  contents: read

jobs:
  frontend:
    name: Build frontend
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: frontend

      - name: Build
        run: npm run build
        working-directory: frontend

      - name: Upload frontend asset folder
        uses: actions/upload-artifact@v4
        with:
          name: frontend
          path: frontend/dist

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: frontend
    env:
      SQLX_OFFLINE: true
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: remails
          POSTGRES_PASSWORD: remails
          POSTGRES_HOST_AUTH_METHOD: trust
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: Checkout sources
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b
        with:
          toolchain: stable

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@c07504cae06f832dc8de08911c9a9c5cddb0d2d3 # v2.56.13
        with:
          tool: cargo-llvm-cov

      - name: Rust cache
        uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0 # v2.8.0
        with:
          shared-key: "stable"

      - name: Register rust problem matcher
        run: echo "::add-matcher::.github/problem-matchers/rust.json"

      - name: Download frontend asset folder
        uses: actions/download-artifact@v4
        with:
          name: frontend
          path: frontend/dist

      - name: cargo test
        run: cargo llvm-cov --lcov --output-path lcov.info
        env:
          RUST_BACKTRACE: 1

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@18283e04ce6e62d37312384ff67231eb8fd56d24 # v5.4.3
        with:
          files: lcov.info
          fail_ci_if_error: false
          token: ${{ secrets.CODECOV_TOKEN }}

  format:
    name: Cargo fmt
    runs-on: ubuntu-latest
    env:
      RUSTDOCFLAGS: "-D warnings"
      SQLX_OFFLINE: true
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b
        with:
          toolchain: nightly
          components: rustfmt

      - name: Run rustfmt
        run: |
          cargo fmt --all -- --check

  clippy:
    name: Clippy
    needs: [frontend, format]
    runs-on: ubuntu-latest
    env:
      RUSTDOCFLAGS: "-D warnings"
      SQLX_OFFLINE: true
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Rust Cache
        uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0
        with:
          shared-key: "stable"

      - name: Register rust problem matcher
        run: echo "::add-matcher::.github/problem-matchers/rust.json"

      - name: Download frontend asset folder
        uses: actions/download-artifact@v4
        with:
          name: frontend
          path: frontend/dist

      - name: Run clippy
        run: cargo clippy --no-deps --all-targets --all-features -- --deny warnings

  deny:
    name: Check dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: EmbarkStudios/cargo-deny-action@30f817c6f72275c6d54dc744fbca09ebc958599f
