name: Deploy to Kubernetes
on:
  workflow_dispatch:
    inputs:
      env:
        description: Deploy environment
        required: true
        type: choice
        options:
          - Upcloud Staging

permissions:
  packages: write
  contents: read

jobs:
  build-docker:
    name: Build and push Docker containers
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.create-tag.outputs.tag }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Create version tag
        id: create-tag
        shell: bash
        run: | 
          export tag=$(git show -s --format="%ct-%h" $GITHUB_SHA)
          echo "tag=$tag" >> $GITHUB_ENV
          echo "tag=$tag" >> "$GITHUB_OUTPUT"
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push MTA image
        uses: docker/build-push-action@v6
        with:
          file: ci.Dockerfile
          target: mta
          push: true
          tags: "ghcr.io/tweedegolf/remails/mta:${{ env.tag }}"
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Build and push management image
        uses: docker/build-push-action@v6
        with:
          file: ci.Dockerfile
          target: management
          push: true
          tags: "ghcr.io/tweedegolf/remails/management:${{ env.tag }}"
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Build and push retry image
        uses: docker/build-push-action@v6
        with:
          file: ci.Dockerfile
          target: retry
          push: true
          tags: "ghcr.io/tweedegolf/remails/retry:${{ env.tag }}"
          cache-from: type=gha
          cache-to: type=gha,mode=max

  migrate-db:
    name: Migrate Database
    runs-on: ubuntu-latest
    needs: build-docker
    environment: ${{ github.event.inputs.env }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Install toolchain
        uses: dtolnay/rust-toolchain@888c2e1ea69ab0d4330cbf0af1ecc7b68f368cc1
        with:
          toolchain: stable
      - name: Rust cache
        uses: Swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6 # v2.7.8
        with:
          shared-key: "stable"
      - name: install SQLx
        run: cargo install sqlx-cli --no-default-features --features rustls,postgres
      - name: migrate DB
        env:
          DATABASE_URL: ${{ secrets.DB_URL }}
        run: cargo sqlx migrate run

  helm-install:
    name: Helm install
    runs-on: ubuntu-latest
    needs:
      - build-docker
      - migrate-db
    environment: ${{ github.event.inputs.env }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Install Helm
        run: "https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash"
      - name: Create kubeconfig file
        run: echo "${{ secrets.KUBECONFIG }}" > ${{ github.workspace }}/kubeconfig
      - name: Fetch Helm dependencies
        working-directory: deploy/remails
        run: helm dependency build
      - name: Deploy to Kubernetes using Helm
        working-directory: deploy
        env:
          KUBECONFIG: ${{ github.workspace }}/kubeconfig
        run: |
          helm upgrade --install remails ./remails \
            --set images.mta.tag=${{ needs.build-docker.outputs.tag }} \
            --set images.management.tag=${{ needs.build-docker.outputs.tag }} \
            --set images.retry.tag=${{ needs.build-docker.outputs.tag }} \
            --set database_url="${{ secrets.DB_URL }}" \
            --set session_key="${{ secrets.SESSION_KEY }}" \
            --set scaleway-certmanager-webhook.secret.accessKey="${{ vars.SCW_ACCESS_KEY }}" \
            --set scaleway-certmanager-webhook.secret.secretKey="${{ secrets.SCW_SECRET_KEY }}" \
            --set github_oauth.client_secret="${{ secrets.OAUTH_CLIENT_SECRET_GITHUB }}" \
            --set github_oauth.client_id="${{ vars.OAUTH_CLIENT_ID_GITHUB }}" \
            --set smtp.server_name="${{ vars.SMTP_SERVER_NAME }}" \
            --set smtp.load_balancer_plan="${{ vars.SMTP_LOAD_BALANCER_PLAN }}" \
            --set management.server_name="${{ vars.MANAGEMENT_SERVER_NAME }}" \
            --set management.certificate_bundle_name="${{ vars.MANAGEMENT_CERTIFICATE_BUNDLE_NAME }}" \
            --set management.certificate_bundle_uuid="${{ vars.MANAGEMENT_CERTIFICATE_BUNDLE_UUID }}" \
            --set management.load_balancer_plan="${{ vars.MANAGEMENT_LOAD_BALANCER_PLAN }}" \
            --namespace ${{ vars.namespace }}