name: Deploy to Kubernetes
on:
  workflow_dispatch:


jobs:
  build-docker:
    name: Build and push Docker containers
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Create version tag
        shell: bash
        run: echo "tag=$(git show -s --format="%ct-%h" $GITHUB_SHA)" >> $GITHUB_ENV
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push MTA docker
        uses: docker/build-push-action@v6
        with:
          file: mta.Dockerfile
          push: true
          tags: "ghcr.io/tweedegolf/remails/mta:${{ env.tag }}"
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Build and push management docker
        uses: docker/build-push-action@v6
        with:
          file: mta.Dockerfile
          push: true
          tags: "ghcr.io/tweedegolf/remails/management:${{ env.tag }}"
          cache-from: type=gha
          cache-to: type=gha,mode=max

  helm-install:
    name: Helm install
    runs-on: ubuntu-latest
    steps:
      - name: Install Helm
        uses: azure/setup-helm@v1
      - name: Create kubeconfig file
        run: echo "${{ secrets.KUBECONFIG }}" > ${{ github.workspace }}/kubeconfig
      - name: Deploy to Kubernetes using Helm
        env:
          KUBECONFIG: ${{ github.workspace }}/kubeconfig
        run: |
          helm upgrade --install remails ./remails \
          --set images.mta.tag=${{ env.tag }} \
          --set images.management.tag=${{ env.tag }} \
          --set database_url="${{ secrets.DB_URL }}" \          
          --set session_key="${{ secrets.SESSION_KEY }}" \
          --set scaleway-certmanager-webhook.secret.accessKey="${{ secrets.SCW_ACCESS_KEY }}" \
          --set scaleway-certmanager-webhook.secret.secretKey="${{ secrets.SCW_SECRET_KEY }}" \
          --set github_oauth.client_secret="${{ secrets.OAUTH_CLIENT_SECRET }}" \
          --namespace remails