name: Deploy to Kubernetes
run-name: "Deploy \"${{ github.ref_name }}\" to ${{ inputs.env }}"

on:
  workflow_dispatch:
    inputs:
      env:
        description: Deploy environment
        required: true
        type: choice
        options:
          - Staging Scaleway
          - Production Scaleway

permissions:
  packages: write
  contents: read

jobs:
  build-frontend:
    name: Build the frontend
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.create-tag.outputs.tag }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Create version tag
        id: create-tag
        shell: bash
        run: |
          export tag=$(git show -s --format="%ct-%h" $GITHUB_SHA)
          echo "tag=$tag" >> $GITHUB_ENV
          echo "tag=$tag" >> "$GITHUB_OUTPUT"
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm
          cache-dependency-path: frontend/package-lock.json
      - name: Build frontend
        working-directory: frontend
        run: |
          npm ci
          npm run build
      - name: upload frontend assets
        uses: actions/upload-artifact@v4
        with:
          name: frontend_dist
          path: frontend/dist/

  build-backend:
    name: Build the backend
    runs-on: ubuntu-latest
    needs: build-frontend
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Download frontend
        uses: actions/download-artifact@v4
        with:
          name: frontend_dist
          path: frontend/dist/

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@888c2e1ea69ab0d4330cbf0af1ecc7b68f368cc1
        with:
          toolchain: stable

      - name: Rust cache
        uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0 # v2.8.0
        with:
          shared-key: "stable"

      - name: Build backend
        run: SQLX_OFFLINE=true cargo build --release --bins

      - name: upload backend binaries
        uses: actions/upload-artifact@v4
        with:
          name: backend_target
          path: |
            target/release/management
            target/release/migrate_db
            target/release/mta
            target/release/retry

  build-docker:
    name: Build and push Docker containers
    runs-on: ubuntu-latest
    needs:
      - build-backend
      - build-frontend
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Download backend binaries
        uses: actions/download-artifact@v4
        with:
          name: backend_target
          path: target/release/

      - name: Build and push MTA image
        uses: docker/build-push-action@v6
        with:
          file: deploy/ci.Dockerfile
          target: mta
          push: true
          build-args: "version=${{ needs.build-frontend.outputs.tag }}"
          context: .
          tags: "ghcr.io/tweedegolf/remails/mta:${{ needs.build-frontend.outputs.tag }}"
      - name: Build and push management image
        uses: docker/build-push-action@v6
        with:
          file: deploy/ci.Dockerfile
          target: management
          push: true
          build-args: "version=${{ needs.build-frontend.outputs.tag }}"
          context: .
          tags: "ghcr.io/tweedegolf/remails/management:${{ needs.build-frontend.outputs.tag }}"
      - name: Build and push retry image
        uses: docker/build-push-action@v6
        with:
          file: deploy/ci.Dockerfile
          target: retry
          push: true
          build-args: "version=${{ needs.build-frontend.outputs.tag }}"
          context: .
          tags: "ghcr.io/tweedegolf/remails/retry:${{ needs.build-frontend.outputs.tag }}"
      - name: Build and push migrate_db image
        uses: docker/build-push-action@v6
        with:
          file: deploy/ci.Dockerfile
          target: migrate-db
          push: true
          build-args: "version=${{ needs.build-frontend.outputs.tag }}"
          context: .
          tags: "ghcr.io/tweedegolf/remails/migrate_db:${{ needs.build-frontend.outputs.tag }}"
      - name: Build and push backup_db image
        uses: docker/build-push-action@v6
        with:
          file: deploy/backup.Dockerfile
          push: true
          context: deploy
          build-args: "version=${{ needs.build-frontend.outputs.tag }}"
          tags: "ghcr.io/tweedegolf/remails/backup_db:${{ needs.build-frontend.outputs.tag }}"

  helm-install:
    name: Helm install
    runs-on: ubuntu-latest
    needs:
      - build-docker
      - build-frontend
    environment: ${{ github.event.inputs.env }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Install Helm
        run: "https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash"
      - name: Create kubeconfig file
        run: echo "${{ secrets.KUBECONFIG }}" > ${{ github.workspace }}/kubeconfig
      - name: Set the current version in the Helm chart
        uses: mikefarah/yq@master
        with:
          cmd: yq -i '.version="${{ needs.build-frontend.outputs.tag }}" | .appVersion="${{ needs.build-frontend.outputs.tag }}"' deploy/remails/Chart.yaml
      - name: Fetch Helm dependencies
        working-directory: deploy/remails
        run: helm dependency build
      - name: Deploy to Kubernetes using Helm
        working-directory: deploy
        env:
          KUBECONFIG: ${{ github.workspace }}/kubeconfig
        run: |
          helm upgrade --install remails ./remails \
            --set environment="${{ vars.environment }}" \
            --set moneybird.administration="${{ vars.MONEYBIRD_ADMINISTRATION_ID }}" \
            --set moneybird.api_key="${{ secrets.MONEYBIRD_API_KEY }}" \
            --set moneybird.webhook_url="${{ vars.MONEYBIRD_WEBHOOK_URL }}" \
            --set backup.enabled="${{ vars.BACKUP_ENABLED }}" \
            --set backup.s3_url="${{ vars.BACKUP_S3_URL }}" \
            --set backup.restic_password="${{ secrets.RESTIC_PASSWORD }}" \
            --set backup.scw_secret_key="${{ secrets.DB_BACKUP_SCW_SECRET_KEY }}" \
            --set backup.scw_access_key="${{ vars.DB_BACKUP_SCW_ACCESS_KEY }}" \
            --set database_url="${{ secrets.DB_URL }}" \
            --set session_key="${{ secrets.SESSION_KEY }}" \
            --set rust_log="${{ vars.RUST_LOG }}" \
            --set github_oauth.client_secret="${{ secrets.OAUTH_CLIENT_SECRET_GITHUB }}" \
            --set github_oauth.client_id="${{ vars.OAUTH_CLIENT_ID_GITHUB }}" \
            --set smtp.server_name="${{ vars.SMTP_SERVER_NAME }}" \
            --set smtp.scw_loadbalancer_type="${{ vars.SMTP_LOAD_BALANCER_TYPE }}" \
            --set smtp.dkim_selector="${{ vars.DKIM_SELECTOR }}" \
            --set-json 'smtp.scw_loadbalancers=${{ vars.SMTP_LOAD_BALANCERS }}' \
            --set management.server_name="${{ vars.MANAGEMENT_SERVER_NAME }}" \
            --namespace ${{ vars.namespace }}