name: Deploy to Scaleway
run-name: "Deploy ${{ github.ref_name }} to Scaleway"

on:
  workflow_dispatch:
  push:
    branches:
      - 45-deployment

permissions:
  packages: read
  contents: read

jobs:
  deploy:
    name: Deploy to Scaleway
    runs-on: ubuntu-latest
    environment: Scaleway
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Create version tag
        shell: bash
        run: echo "tag=$(git show -s --format="%ct-%h" $GITHUB_SHA)" >> $GITHUB_ENV
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to Scaleway Container Registry
        uses: docker/login-action@v3
        with:
          registry: rg.nl-ams.scw.cloud/remails-development
          username: nologin
          password: ${{ secrets.SCW_SECRET_KEY }}
      - name: Pull from GitHub and Push to Scaleway
        run: |
          docker pull ghcr.io/tweedegolf/remails/app:${{ env.tag }}
          docker tag ghcr.io/tweedegolf/remails/app:${{ env.tag }} rg.nl-ams.scw.cloud/remails-development/app:${{ env.tag }}
          docker push rg.nl-ams.scw.cloud/remails-development/app:${{ env.tag }}